translate==3.6.1
PyLyrics==1.1.0
wolframalpha
requests
wikipedia==1.4.0
yamale==4.0.4
telepot==12.7
PyYAML
discord.py==2.0.1
discord==2.0.0
slackclient==2.9.4
cinemagoer==2022.2.11
geopy==2.2.0
bs4==0.0.1
staticmap==0.5.5